/* =========================================================
   General
   ========================================================= */

 body, html{

 }


 /* =========================================================
    Navigation Bar
    ========================================================= */

nav li{
	list-style-type: none;
	float: left;
}

#myLogo{
	width: 300px;
}

 /* =========================================================
   	Links
    ========================================================= */

a{
	text-decoration: none;
}

a:hover{

}

a:visited{
	
}


/* =========================================================
    Footer
    ========================================================= */

footer{
	float: none;
}