/* =========================================================
   General
   ========================================================= */

 body, html{
    font-family: 'Koz';
    font-size: 90%;
    line-height: 150%;
 }

 @font-face{
  font-family: 'Koz';
  src: url('fonts/KozGoPr6N-Light.otf');
  font-weight: normal;
  font-style: normal;
}

 @font-face{
  font-family: 'Koz-Bold';
  src: url('fonts/KozGoPr6N-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

 @font-face{
  font-family: 'Qlassik';
  src: url('fonts/QlassikBold_TB.otf');
  font-weight: normal;
  font-style: normal;
}

.emphasis{
  font-family: 'Koz-Bold';
}

h1{
  font-family: 'Qlassik';
}

/*
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  */

 /* =========================================================
    Navigation Bar
    ========================================================= */


.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 225px;
  width: 100%;
}

.menu li{
	list-style-type: none;
  display: inline;
  vertical-align: middle;
}

.menu a{
  display: inline-block;
  padding: 30px 50px;
  font-family: 'Qlassik';
  font-size: 1.3em;
  color: #A87811; /*//#CC951F;*/
}

.menu a:hover{
  color: #FCC03D;
}

.onpage a{
  color: #FCC03D;
}

#myLogo{
	width: 250px;
}

.logopart{
  float: right;
  width: 30%;
}

.otherpages{
  border:1px solid #FAECCF;
  background-color: #FFFDF7;
  border-width: 2px 0;
  float: right;
  width: 70%;
  margin-top: 70px;
}

 /* =========================================================
   	Links
    ========================================================= */

a{
  /*font-family: 'Koz-Bold';*/
  color: black;
	text-decoration: none;
}

a:hover{
  color: #C20E0E;
}

a:visited{
	
}

.interaction{
  color: black;
  border-bottom: 1px solid #A87811; /*C20E0E*/
  padding-bottom: 2px;
  /*font-family: 'Koz-Bold';*/
}

.interaction:hover{
  color: #C20E0E;
  /*border-bottom: 1px solid #FCC03D;*/
}

 /* =========================================================
    All Pages
    ========================================================= */

.container {
  width: 70%;
  background-color: #DEDEDE;
  margin: 0 auto;
  float: none;
  padding: 2%;
}

.text{
  width: 35%;
  float: left;
  padding-left: 1%;
}

.text p{
  margin-top: -0.25%;
}

.image{
  width: 60%;
  float: left;
  padding-right: 3%;
}

.clear{
  clear: both;
  width: 0;
  height: 0;
}

/* =========================================================
    About Page
    ========================================================= */

#photo{
  width: 100%;
}

/* =========================================================
    Work Page
    ========================================================= */

.leftproject{
  width: 45%;
  float: left;
  padding: 2.5%;
}

.thumbnail{
  width: 100%;
}

.descrip{
  width: 100%;
}

.projimage{
  width: 100%;
}

.thumbnail a{

}

.thumbnail a:hover{
  opacity: 0.5;
}

.descrip a{
  color: black;
}

.descrip a:hover{
  color: #C20E0E;
}

/* =========================================================
    Project Details Page
    ========================================================= */

.projheader{
  width: 70%;
  float: left;
}

.nextproj{
  width: 30%;
  float: right;
  text-align: right;
}

.projcontext{
  width: 30%;
  float: left;
}

.projdetails{
  width: 70%;
  float: left;
}

/* =========================================================
    Contact Page
    ========================================================= */

.brief{
  margin-top: 0%;
  padding-bottom: 2%;
}

.othercontact{
  float: left;
  width: 30%;
}

.emailform{
  float: right;
  background-color: #FFFDF7;
  width: 60%;
  text-align: center;
  padding: 2% 0;
  border:2px solid #FAECCF;
  color: #A87811;
  font-family: 'Koz-Bold';
}



/* =========================================================
    Footer
    ========================================================= */

footer{
	float: left;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}