/* =========================================================
   General
   ========================================================= */

 body, html{
    font-family: 'Koz';
    font-size: 95%;
    line-height: 150%;
 }

 @font-face{
  font-family: 'Koz';
  src: url('fonts/KozGoPr6N-Light.otf');
  font-weight: normal;
  font-style: normal;
}

 @font-face{
  font-family: 'Koz-Bold';
  src: url('fonts/KozGoPr6N-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

 @font-face{
  font-family: 'Qlassik';
  src: url('fonts/QlassikBold_TB.otf');
  font-weight: normal;
  font-style: normal;
}

.emphasis{
  font-family: 'Koz-Bold';
  font-style: bold;
}

 /* =========================================================
    Navigation Bar
    ========================================================= */


.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 225px;
  width: 100%;
}

.menu li{
	list-style-type: none;
  display: inline;
  vertical-align: middle;
}

.menu a{
  display: inline-block;
  padding: 30px;
  font-family: 'Qlassik';
  font-size: 120%;
  color: #A87811; /*//#CC951F;*/
}

.menu a:hover{
  color: #FCC03D;
}

#myLogo{
	width: 250px;
}

.leftmenu{
  border:1px solid #FAECCF;
  border-width:1px 0;
  float: left;
  width: 30%;
  margin-top: 70px;
}

.center{
  float: left;
  width: 40%;
}

.rightmenu{
  border:1px solid #FAECCF;
  border-width:1px 0;
  float: left;
  width: 30%;
  margin-top: 70px;
}

 /* =========================================================
   	Links
    ========================================================= */

a{
	text-decoration: none;
}

a:hover{

}

a:visited{
	
}

 /* =========================================================
    All Pages
    ========================================================= */

.container {
  width: 70%;
  height: 500px;
  background-color: #EDEDED;
  margin: 0 auto;
  float: none;
  padding: 2%;
}

.text{
  width: 35%;
  float: left;
  padding-left: 1%;
}

.text p{
  margin-top: -0.25%;
}

.image{
  width: 60%;
  float: left;
  padding-right: 3%;
}

/* =========================================================
    About Page
    ========================================================= */

#photo{
  width: 100%;
}


/* =========================================================
    Footer
    ========================================================= */

footer{
	float: left;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}